<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLTWpcG-TY6xyKa9ijcwYDTYTnsqwqE5w</string>
	<key>GCM_SENDER_ID</key>
	<string>160894481689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentalApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>restapicar</string>
	<key>STORAGE_BUCKET</key>
	<string>restapicar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160894481689:ios:07092fce456c87a0168188</string>
	<key>DATABASE_URL</key>
	<string>https://restapicar-default-rtdb.firebaseio.com</string>
</dict>
</plist>